<div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>ME</span>
          </div>
          <div class="app-contact">CONTACT INFO : yakirbastiker@gmail.com</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO.">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button" (click)="onCancel()">CANCEL</button>
              <button class="app-form-button" (click)="onSend()">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="credits">
      inspired by
      <a class="credits-link" href="https://dribbble.com/shots/2666271-Contact" target="_blank">
        <svg class="dribbble" viewBox="0 0 200 200">
          <g stroke="#ffffff" fill="none">
            <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
            <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345" stroke-width="20"></path>
            <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951" stroke-width="20"></path>
            <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103" stroke-width="20"></path>
          </g>
        </svg>
        Gururaj
      </a>
    </div>
  </div>











<footer>

        <div class="text">
          <h3 id="email">yakirbastiker@gmail.com</h3>
          <h3>© 2020 Yakir Bastiker.</h3> 
        </div>
        

        <div class="links">
            <div class="linkedin">
                <img class="link" id="linkedin" src="../../../assets/img/media/iconfinder_Rounded_Linkedin2_svg_5282542.png" alt="linkedin">
                <a href="https://www.linkedin.com/in/yakir-bastiker-572b7a72/" target="_blank">
                    <img class="link" id="linkedin-color" src="../../../assets/img/media/iconfinder_1_Linkedin_unofficial_colored_svg_5296501.png" alt="linkedin">
                </a>
            </div>

            <div class="instagram">
                <img class="link" style="display: block;" id="instagram" src="../../../assets/img/media/iconfinder_Rounded_Instagram_svg_5282544.png" alt="instagram">
                <a href="https://www.instagram.com/yakirbashteker/" target="_blank">
                <img class="link" id="instagram-color" src="../../../assets/img/media/iconfinder_social-instagram-new-square2_1164347.png" alt="instagram">
                </a>
            </div>

            <div class="facebook">
                <img class="link" id="facebook" src="../../../assets/img/media/iconfinder_Rounded_Facebook_svg_5282541.png" alt="facebook">
                <a href="https://www.facebook.com/yakir.bashteker/" target="_blank">
                <img class="link" id="facebook-color" src="../../../assets/img/media/iconfinder_Colored_Facebook3_svg_5365678.png" alt="facebook">
                </a>
            </div>

            <div class="codepen">
              <img class="link" id="codepen" src="../../../assets/img/media/iconfinder_Codepen_4745716.png" alt="codepen">
              <a href="https://codepen.io/yakirbastiker" target="_blank">
              <img class="link" id="codepen-color" src="../../../assets/img/media/iconfinder_Asset_36_2001678.png" alt="facebook">
              </a>
          </div>

            <div class="github">
                <img class="link" id="github" src="../../../assets/img/media/iconfinder_github-square-social-media_764894.png" alt="github">
                <a href="https://github.com/yakirbastiker" target="_blank">
                    <img class="link" id="github-color" src="../../../assets/img/media/iconfinder_GitHub_4745725.png" alt="github">
                </a>
            </div>

        </div>
    
</footer>
