<div class="page">

<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                <h3>Design</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                <h3>Things I enjoy designing:</h3>
                <p>UX, UI, Web, Mobile, Apps, Logos</p>
                    
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3>Code</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                <h3>Technologies I work with:</h3>
                <p>HTML, CSS, Sass/scss,Angular2-8, Typescript, node.js, mongodb </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                <h3>Launch</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Findings from the research and design phases are utilized for the production of specific products including materials,
                     systems, and methods. Engineer utilizing the research and designs to produce commercial products for the customer.</p>
                    
            </div>
        </div>
    </div>
</div>

</div>