/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    box-sizing: border-box;
}


html, body {margin: 0; height: 100%; overflow: hidden}